h1{

font-size:64px;

font-weight:700;

font-family:"Cormorant Garamond",serif;

}

h2{

font-size:48px;

font-family:"Cormorant Garamond",serif;

}

h3{

font-size:32px;

}

p{

line-height:1.8;

font-size:18px;

}
