@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../styles/colors.css";
@import "../styles/typography.css";

html {
  scroll-behavior: smooth;
}

body {
  background: #FCFBF8;
  color: #222;
  margin: 0;
  font-family: Inter, sans-serif;
}

/* 全站動畫統一過渡 */
* {
  box-sizing: border-box;
}

a,
button {
  transition: all 0.25s ease;
}
